{% extends 'layout.twig' %}

{% block body %}
  <h1>Gestor de contenedores</h1>
  <form action="/manager" method="post">
    {% for container in containers %}
      <input type="radio" id="{{ container.key }}Id" name="owner" value="{{ container.key }}">
      <label for="{{ container.key }}Id">{{ container.description }}</label><br>
    {% endfor %}
    <input type="submit" value="Gestionar" />
  </form>
{% endblock %}
