{% extends 'layout.twig' %}

{% block body %}
  <h1>Logs de contenedor de {{containerDescription}}</h1>
  <p>
    <a href="/logs/{{logFile}}" download>Descargar logs</a>
  </p>
  <p>
    <a href="/">Ir a selección de usuario</a>
  </p>
{% endblock %}
