{% extends 'layout.twig' %}

{% block body %}
  <h1>Logs de contenedor de {{owner}}</h1>
  <p>
    <a href="/logs/{{logFile}}">Descargar logs</a>
  </p>
  <p>
    <a href="/">Ir a selección de usuario</a>
  </p>
{% endblock %}
